* { 
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.container{
    width: 960px;
    margin: 0 auto;
}

nav {
    height: 80px;
    background-color: #87cefa;
    width: 960px;
    position: fixed;
    padding: 0px 0px 0px 20px;
}

nav h1{
    font-family: 'Cinzel';
    font-size: 30px;
    color: white;
    float:left;
    margin: 0 auto;
    line-height: 80px;
    /*margin: 0 auto;*/
}
nav ul{
    float:right;
    margin: 0 auto;
    margin-right: 30px;
    line-height: 80px;
    /*margin: 6 auto;*/
}

nav li{
    font-family: 'Tangerine';
    font-size: 25px;
    text-align: right;
    color: gray;
    /*margin-top: 0px;*/
    text-decoration: none;
    list-style-type: none;
    float: left;
    margin: 0px 0px;
}
nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 30px;
    margin: 0px ;
}

li a:hover, .dropdown:hover .dropbtn {
   background-color: #6495ED;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 60px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
    height: 600px;
    background-image: url("http://kingofwallpapers.com/runway/runway-008.jpg");
    background-position: center center;
    width: 100%;
    padding: 100px 100px;
}
.header {
    content: "";
    clear: both;
    display: block;
}

.header h1{
    font-family:'Cinzel Decorative';
    font-size: 100px;
    text-align: center;
    color: black;
    margin-top: 0;
    text-shadow: 4px 4px 4px #aaa;
    
}
.header h2{
    font-family:'Caudex';
    font-size: 20px;
    text-align: center;
    color: #8b8b83;
}
.section {
    width:100%;
    height: 800px;
    background-color: #838b83;
    padding: 50px 15px 20px 15px;
    display: flex;
    justify-content: space-around;
}
.col1 {
    width:300px;
    height:500px;
    font-family: 'Caudex';
    font-size: 18px;
}
.col2 {
    width:300px;
    height:500px;
    font-family: 'Caudex';
    font-size: 18px;
}
.col3 {
    width:300px;
    height:500px;
    font-size: 18px;
    font-family:'Jeju Gothic';
}
.footer {
    background-color: #8b7765;
    height: 60px;
    padding-top:20px;
}
.footer p{
    font-size: 18px;
    font-family:'Jeju Gothic';
    text-align: center;
    margin-top:0;
    color:white;
}