*{ box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
}
.container{
    width: 960px;
    margin: 0 auto;
}
nav {
    width:100%;
    margin:auto;
}
.navbar{
    height: 80px;
    background-color: #87cefa;
    padding-left: 50px;
    padding-right:50px;
}
.navbar h1{
    font-family: 'Cinzel';
    font-size: 30px;
    color: white;
    display: inline;
    float: left;
}
.navbar ul{
    list-style-type: none;
    text-align: right;
    margin: 0 auto;

}
.navbar li{
    font-family: 'Tangerine';
    font-size: 18px;
    text-align: right;
    color: gray;
    display: inline-block;
    margin-top: 0px;
}
.header {
    height: 600px;
    background-image: url("http://kingofwallpapers.com/runway/runway-008.jpg");
    background-position: center;
    width: 100%;
    padding: 100px 100px;
}
.headercontents {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.header h1{
    font-family:'Cinzel Decorative';
    font-size: 100px;
    text-align: center;
    color: black;
    margin-top: 0;
    
}
.header h2{
    font-family:'Caudex';
    font-size: 20px;
    text-align: center;
    color: #778899;
}
.section {
    width:100%;
    height: 800px;
    background-color: #cdc9c9;
    padding: 100px 15px 20px 15px;
}
.col1 {
    width:300px;
    height:500px;
    font-family: 'Caudex';
    font-size: 18px;
    margin: 10px 5px 5px 0px;
    float: left;
}
.col2 {
    width:300px;
    height:500px;
    font-family: 'Caudex';
    font-size: 18px;
    margin: 10px 5px 5px 0px;
    float: left;
}
.col3 {
    width:300px;
    height:500px;
    font-size: 18px;
    font-family:'Jeju Gothic';
    margin: 10px 0px 5px 5px;
    float: left;
}
.footer {
    background-color: #8b7765;
    height: 60px;
    padding-top:20px;
}
.footer p{
    font-size: 18px;
    font-family:'Jeju Gothic';
    text-align: center;
    margin-top:0;
    color:white;
}